.author-slider {
    width: 100%;
}

.author-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: max-content;


    .author-img {
        width: 80px;
        height: 80px;
        border-radius: 50%;

        @include respondToScreen('mediumMobile') {
            width: 90px;
            height: 90px;
        }
    }

    .author-name {
        width: 80px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
        text-align: center;

        @include respondToScreen('mediumMobile') {
            width: 90px;
            font-size: 15px;
        }
    }
}