.contact-us-section {
    padding: 25px 25px 0;

    .card {
        background-color: #E7EEF3;
        border-radius: 8px;
        padding: 30px 35px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .card-info {
            display: flex;
            flex-direction: column;
            gap: 7px;

            @include respondToScreen('mediumMobile') {
                gap: 10px;
            }

            .publish {
                font-size: 16px;
                text-align: center;
                @include respondToScreen('mediumMobile') {
                    font-size: 20px;
                }
                @include respondToScreen('largeMobile') {
                    font-size: 29px;
                }
                @include respondToScreen('tablet') {
                    font-size: 33px;
                }
            }

            .author {
                font-size: 13px;
                text-align: center;
                color: #616161;

                @include respondToScreen('mediumMobile') {
                    font-size: 15px;
                }
                @include respondToScreen('largeMobile') {
                    font-size: 18px;
                }
                @include respondToScreen('tablet') {
                    font-size: 18px;
                }
            }
        }

        .contact-btn {
            color: #fff;
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            background-color: #0067B8;
            border: none;
            outline: none;
            border-radius: 6px;
            padding-top: 16px;
            padding-bottom: 12px;
        }
    }
}