* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

.container {
  position: relative;
  margin-bottom: 95px;
}

.top {
  padding: 20px 25px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top .title {
  color: #282637;
  font-size: 22px;
}
.top .link {
  color: #0067B8;
  cursor: pointer;
}

.books {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 25px;
}
.books .books-slider {
  width: 100%;
}
.books .books-slider .swiper-wrapper .swiper-slide {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.books .book-img {
  border-radius: 8px;
}

.transition {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  pointer-events: none;
  opacity: 0;
  background-color: #616161;
  transition: 0.5s ease-in-out;
}

.transition-active {
  opacity: 1;
  pointer-events: all;
}

.search {
  background-color: #F8F8F8;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.search .saerch-icon {
  width: 20px;
  height: 20px;
  padding-right: 25px;
  filter: invert(15%) sepia(19%) saturate(752%) hue-rotate(207deg) brightness(96%) contrast(97%);
}

.top-slider {
  padding: 0 25px;
}
.top-slider .swiper-slide {
  height: 170px;
  border-radius: 8px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories-section {
  padding-left: 25px;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.categories-section .title {
  font-size: 22px;
}

.popo {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  overflow: scroll;
  scroll-behavior: smooth;
}
.popo::-webkit-scrollbar {
  display: none;
}

.slider-container {
  display: flex;
  gap: 10px;
}

.category-item {
  display: flex;
  gap: 15px;
  align-items: center;
  background-color: #F0F0F0;
  border-radius: 8px;
  padding: 10px 15px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.category-item .category-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
}
@media (min-width: 360px) {
  .category-item .category-img {
    width: 35px;
    height: 35px;
  }
}
.category-item .category-name {
  color: #616161;
  font-size: 14px;
  font-weight: 600;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
@media (min-width: 360px) {
  .category-item .category-name {
    font-size: 16px;
  }
}

.treanding-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.treanding-item .trending-book-img {
  border-radius: 4px;
}
.treanding-item .book-name {
  width: 102px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 360px) {
  .treanding-item .book-name {
    width: 122px;
    font-size: 17px;
  }
}

.author-slider {
  width: 100%;
}

.author-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.author-item .author-img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.author-item .author-name {
  width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  text-align: center;
}
@media (min-width: 360px) {
  .author-item .author-name {
    width: 80px;
    font-size: 15px;
  }
}

.bestSelling-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.bestSelling-item .bestSelling-img {
  width: 128px;
  border-radius: 6px;
}
.bestSelling-item .bestSelling-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.bestSelling-item .bestSelling-info .bestSelling-book {
  font-weight: 500;
  width: 132px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 480px) {
  .bestSelling-item .bestSelling-info .bestSelling-book {
    font-size: 18px;
  }
}
@media (min-width: 600px) {
  .bestSelling-item .bestSelling-info .bestSelling-book {
    font-size: 19px;
  }
}
.bestSelling-item .bestSelling-info .bestSelling-author {
  font-size: 12px;
  color: #616161;
}
@media (min-width: 360px) {
  .bestSelling-item .bestSelling-info .bestSelling-author {
    font-size: 14px;
  }
}
@media (min-width: 480px) {
  .bestSelling-item .bestSelling-info .bestSelling-author {
    font-size: 16px;
  }
}
@media (min-width: 600px) {
  .bestSelling-item .bestSelling-info .bestSelling-author {
    font-size: 17px;
  }
}

.contact-us-section {
  padding: 25px 25px 0;
}
.contact-us-section .card {
  background-color: #E7EEF3;
  border-radius: 8px;
  padding: 30px 35px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-us-section .card .card-info {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 360px) {
  .contact-us-section .card .card-info {
    gap: 10px;
  }
}
.contact-us-section .card .card-info .publish {
  font-size: 16px;
  text-align: center;
}
@media (min-width: 360px) {
  .contact-us-section .card .card-info .publish {
    font-size: 20px;
  }
}
@media (min-width: 480px) {
  .contact-us-section .card .card-info .publish {
    font-size: 29px;
  }
}
@media (min-width: 600px) {
  .contact-us-section .card .card-info .publish {
    font-size: 33px;
  }
}
.contact-us-section .card .card-info .author {
  font-size: 13px;
  text-align: center;
  color: #616161;
}
@media (min-width: 360px) {
  .contact-us-section .card .card-info .author {
    font-size: 15px;
  }
}
@media (min-width: 480px) {
  .contact-us-section .card .card-info .author {
    font-size: 18px;
  }
}
@media (min-width: 600px) {
  .contact-us-section .card .card-info .author {
    font-size: 18px;
  }
}
.contact-us-section .card .contact-btn {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  background-color: #0067B8;
  border: none;
  outline: none;
  border-radius: 6px;
  padding-top: 16px;
  padding-bottom: 12px;
}

.navigation {
  height: 73px;
  padding: 0 30px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  border-radius: 16px 16px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: -webkit-fill-available;
  bottom: 0;
  z-index: 999;
  left: 0;
  background-color: #fff;
}
@media (min-width: 360px) {
  .navigation {
    height: 80px;
    padding: 0 45px;
  }
}
@media (min-width: 480px) {
  .navigation {
    padding: 0 90px;
  }
}
@media (min-width: 600px) {
  .navigation {
    padding: 0 120px;
  }
}
.navigation .active {
  filter: invert(24%) sepia(98%) saturate(1664%) hue-rotate(189deg) brightness(96%) contrast(101%);
}
.navigation .single-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
.navigation .single-nav .normal {
  filter: invert(34%) sepia(0%) saturate(1652%) hue-rotate(163deg) brightness(100%) contrast(76%);
}
.navigation .single-nav .nav-icon {
  width: 18px;
  height: 18px;
}
.navigation .single-nav .nav-name {
  color: #616161;
  font-size: 11px;
}
@media (min-width: 360px) {
  .navigation .single-nav .nav-name {
    font-size: 14px;
  }
}
@media (min-width: 480px) {
  .navigation .single-nav .nav-name {
    font-size: 16px;
  }
}
@media (min-width: 600px) {
  .navigation .single-nav .nav-name {
    font-size: 17px;
  }
}/*# sourceMappingURL=main.css.map */